[Desktop Entry]
Encoding=UTF-8
Name=X Coin
Comment=Connect to the X Coin (XFER) P2P Network
Comment[de]=Verbinde mit dem X Coin peer-to-peer Netzwerk
Comment[fr]=X Coin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=X Coin, eşten eşe kriptografik sanal para birimi
Exec=xcoin-qt %u
Terminal=false
Type=Application
Icon=xcoin
MimeType=x-scheme-handler/xcoin;
Categories=Office;Finance;
